<ion-header translucent>
  <ion-toolbar>
    <ion-title>Compartir nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Introduzca el email del colaborador <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="email" [(ngModel)]="email" name="title"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="share()">Compartir</ion-button>
    </div>
  </form>
</ion-content>
