<ion-header>
  <ion-toolbar>
    <ion-title>
      Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isEmpty">
    {{message}}
  </div>
  <div *ngIf="bool">
    <ion-card class="welcome-card" *ngFor="let note of notes">
      <ion-card-header>
        <ion-card-subtitle>Category: {{note.data.category}}</ion-card-subtitle>
        <ion-card-title>{{note.data.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h5 *ngIf="note.data.shared_users.length!=0">Colaboradores: {{note.data.shared_users}}</h5>
        <p>{{note.data.content}}</p>
        <ion-icon name="share" slot="end" (click)="share(note.id)"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="open()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
